/* Genaral Styles */
.ogani-bg{
    background-color: #7FAD39;
    color:#fff;
}
.home-banner{
    background-image: url(../img/header-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.carousel-single img{
    border-radius: 10px;
    box-shadow: 3px 3px 10px #e6e6e6;
}
.category-name{
    background-color: #fff;
    color:#000;
    text-transform: uppercase;
    position: relative;
    top:-80px;
    text-align: center;
    padding: 10px;
    margin-left:10px;
}
.call-to-action{
    position: relative;
    top:-60px;
    text-align: center;
}
.call-to-action .fa-solid{
    margin-right: 10px;
    transition: 0.3s background-color ease-in-out;
    cursor: pointer;
}
.call-to-action .fa-solid:hover{
    background-color: #7FAD39;
    color:#fff;
}
.product-detail{
    margin:0px;
    margin-left:10px;
}
.product-detail p, h3{
    margin:0px;
}
footer{
    background-color:#101C2C;
}